
html,
body,
body > div { /* the react root */
  margin: 0;
  padding: 0;
  height: 100%;
}



h2 {
  margin: 0;
  font-size: 16px;
}

ul {
  margin: 0;
  padding: 0 0 0 1.5em;
}

li {
  margin: 1.5em 0;
  padding: 0;
}

b { /* used for event dates/times */
  margin-right: 3px;
}

.demo-app {
  display: flex;
  justify-content: space-around;
  min-height: 100%;
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  font-size: 14px;
}

.demo-app-sidebar {
  justify-content: space-around;
  margin-left: 200px;
  line-height: 1.5;
  background: #eaf9ff;
  border-right: 1px solid #d3e2e8;
}

.demo-app-sidebar-section {
  padding: 1em;
}

.demo-app-main {
  flex-grow: 1;
  min-height: auto;
}

.fc { /* the calendar root */
  justify-content: left;
  margin-right: 3vh;
  margin-left: 3vh;
  min-width: 60vh;
  min-height: 60vh;
  
}
